<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
<body>
    <header>
        <nav>
            <ul>
                {%if user.is_authenticated %}

                        <a href="{% url 'home' %}">Receipts</a>

                        <a href="{% url 'create_receipt' %}">Create Receipt</a>


                        <a href="{% url 'acc_list' %}">Accounts</a>

                        <a href="{% url 'create_account' %}">Create Account</a>

                        <a href="{% url 'cat_list' %}">Categories</a>

                        <a href="{% url 'cat_new' %}">Create Category</a>

                        <a href="{% url 'logout' %}">Logout</a>

                {%else%}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {%endif%}
            </ul>
        </nav>
    </header>
    <main>
        {%block content%}
        {%endblock content%}
    </main>
</body>

</html>