{% extends 'base.html' %}
{%block content%}
<h1>Accounts</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for item in AccountView %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.number}}</td>
                <td>{{item.receipts.all|length}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock content %}