{% extends 'base.html'%}

{% block content %}

<h1>My Receipts</h1>
<table>
    <thead>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Due Date</th>
        <th>Category</th>
        <th>Account</th>
    </thead> 
    <tbody>
        {%for list in ReceiptListView%}
        <tr>
            <td>{{list.vendor}}</td>
            <td>{{list.total}}</td>
            <td>{{list.tax}}</td>
            <td>{{list.date}}</td>
            <td>{{list.category.name}}</td>
            <td>{{list.account.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}